*{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {

 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
    
 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
    
 }

.c1 .row:first-child{
    background-color: #2C3E50;
}
.c1 .row:last-child{
    background-color: #1ABC9C;
}
.c3{
    background-color: #1ABC9C;
}
.c5 .row:first-child{
    background-color: #3A546D;
}
.c5 .row:last-child{
    background-color: #2C3E50;
}