*{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {

 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
    
 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
    
 }

.bg_blue,
.bg_blue a{
    background-color: #2C3E50;
    color: white;
}
.bg_green{
    background-color: #1ABC9C;
    color: white;
}
.bg_lblue{
    background-color: #3A546D;
    color: white
}
.img{
    margin: 15px 0;
}
.star-line{
    margin: 5%;
}
.linea-retta {
    display: inline-block;
    vertical-align: middle;
    height: 1px;
    width: 30%;
    border: 1px solid;
}