*{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
.title > h1{
    font-weight:1000;
}
nav h2{
    margin: 10;
}
form{
    text-align: left;
}

/* Small devices (tablets, 768px and up) */
@media all and (min-width: 768px) {
    
 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    *{
        font-size: 18px;
    }
 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
 }

.bg_blue,
.bg_blue a{
    background-color: #2C3E50;
    color: white;
}
.bg_green,
.bg_green a{
    background-color: #1ABC9C;
    color: white;
}
.bg_lblue{
    background-color: #3A546D;
    color: white
}
/* .navbar-header > a{
    line-height: 50px;
} */
.img{
    margin: 15px 0;
}
.star-line{
    margin: 15px;
}
.linea-retta {
    display: inline-block;
    vertical-align: middle;
    height: 1px;
    width: 30%;
    border: 1px solid;
}
.portfolio-img{
    padding: 0 60px 40px 60px;
}

.hero-title{
    margin-bottom: 30px;
}
.title{
    text-transform: uppercase;
}

.btn_my.btn-outline-white{
    color: white;
    background-color: #1ABC9C;
    border: solid 1px white;
    margin-top: 20px;
}
.btn_my.btn.focus, .btn_my.btn:hover {
    color: white;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.308);
}
.btn.btn-outline-white span{
    font-size: 14px;
    line-height: 15px;
}
.pad_pag{
    padding: 30px 0;
}







